* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */

/* SIDE BAR */

/* BODY */
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* CONTENT */

/* FOOTER */

/* FORMS */

/* GENERAL GUBBINS */
