* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */

/* SIDE BAR */

/* BODY */
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.3rem;
}

body > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

/* CONTENT */
/* Media Queries */
@media screen and (max-width: 992px) {
  body {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  body {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  body {
    grid-template-columns: 1fr;
  }
}

/* ---------------------shape 1 ------------------------ */
.shape-1 {
  background: #6592cf;
}
.shape-1 span:nth-child(1) {
  width: 12rem; /*192px*/
  height: 6rem; /*96px*/
  background: #243d83; /* Darker blue for first shape */
  position: absolute; /* Position absolutely within the parent div */
}
.shape-1 span:nth-child(2) {
  width: 10rem; /*160px*/
  height: 10rem; /*160px*/
  border-radius: 50%; /* Make it a circle */
  background: #243d83; /* Darker blue for first shape */
  border: 2rem solid #6592cf; /* Lighter blue border */
  z-index: 1;
}
.shape-1 span:nth-child(3) {
  width: 2rem; /*32px*/
  height: 2rem; /*32px*/
  border-radius: 50%; /* Make it a circle */
  background: #eeb850; /* Yellow for third shape */

  z-index: 2; /* Bring to front */
  position: absolute; /* Position absolutely within the parent div */
}

/* FOOTER */

/* FORMS */

/* GENERAL GUBBINS */
