* {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}
/* HEADER */

/* SIDE BAR */

/* BODY */
body {
  /* Body styles */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: grid; /* Use CSS Grid layout */
  grid-template-columns: repeat(5, 1fr); /* Five equal columns */
  gap: 0.3rem; /* Gap between grid items */
}

body > div {
  /* Styles for each shape container */
  position: relative; /* Position relative for absolute positioning of child elements */
  display: flex; /* Use Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background: #333; /* Dark background for shape containers */
}

/* CONTENT */
/* Media Queries */
@media screen and (max-width: 992px) {
  /* Tablets and small desktops */
  body {
    /* Adjust grid layout for smaller screens */
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  }
}

@media screen and (max-width: 700px) {
  /* Large mobile devices */
  body {
    /* Adjust grid layout for medium screens */
    grid-template-columns: 1fr 1fr; /* Two equal columns */
  }
}

@media screen and (max-width: 500px) /* Mobile Devices */ {
  body {
    grid-template-columns: 1fr; /* Single column layout */
  }
}

/* ---------------------shape 1 ------------------------ */
.shape-1 {
  background: #6592cf; /* Lighter blue for first shape container */
}
.shape-1 span:nth-child(1) {
  width: 12rem; /*192px*/
  height: 6rem; /*96px*/
  background: #243d83; /* Darker blue for first shape */
  position: absolute; /* Position absolutely within the parent div */
}
.shape-1 span:nth-child(2) {
  /* Second child span */
  width: 10rem; /*160px*/
  height: 10rem; /*160px*/
  border-radius: 50%; /* Make it a circle */
  background: #243d83; /* Darker blue for first shape */
  border: 2rem solid #6592cf; /* Lighter blue border */
  z-index: 1;
}
.shape-1 span:nth-child(3) {
  /* Third child span */
  width: 2rem; /*32px*/
  height: 2rem; /*32px*/
  border-radius: 50%; /* Make it a circle */
  background: #eeb850; /* Yellow for third shape */

  z-index: 2; /* Bring to front */
  position: absolute; /* Position absolutely within the parent div */
}
/* --------------------- fork shape 2 ------------------------ */
.shape-2 {
  /* Second shape container */
  background: #e97676; /* Light red for second shape container */
}
.shape-2 div {
  /* Inner div to hold spans */
  width: 8rem; /*128px*/
  height: 10rem; /*160px*/
  background-color: #060f55; /* Dark blue for second shape */
  border-radius: 0 0 4rem 4rem; /* Rounded bottom corners 64px */
  display: flex; /* Use Flexbox for centering */
}
.shape-2 div span {
  /* Child spans inside shape-2 */
  width: 100%; /* Full width */
}

/* FOOTER */

/* FORMS */

/* GENERAL GUBBINS */
