* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HEADER */

/* SIDE BAR */

/* BODY */
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* CONTENT */
/* Media Queries */
@media screen and (max-width: 992px) {
  body {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  body {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and  { max-width: 500px} {
  body {
    grid-template-columns: 1fr;
  }
}

/* FOOTER */

/* FORMS */

/* GENERAL GUBBINS */
